body {
    overflow: auto;
}

.labirinth {
    min-width: 778px;
    max-width: 778px;
    text-align: center;
    margin: auto;
    background-color: #1B1C1D;
}

table {
    background-color: #1B1C1D;
    border: none;
    border-collapse: collapse;
    margin: 25px;
    padding: 25px;
    outline: 25px solid #1B1C1D;
}


td {
    min-width: 25px;
    max-width: 25px;
    width: 25px;
    min-height: 25px;
    max-height: 25px;
    height: 25px;
    vertical-align: center;
    text-align: center;
}

i {
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin: 0 auto;
    border-radius: 2px;
}

[class^='icon'] {
    font-size: 19px;
    text-align: center;
    margin: 0 auto;
}

#hero {
    font-size: 15px!important;
    padding: 3px;
    margin-right: 3px;
}

.icon-bootstrap {
    color: #563D7C;
    font-size: 18px;
}

.icon-html5 {
    color: #E94F32;
    font-size: 22px;
}

.icon-css3-alt {
    color: #0074B5;
}

.icon-js {
    color: #E5A228;
}

.icon-jquery {
    color: #3693CB;
}

.icon-d3 {
    color: #f79357;
}

.icon-express {
    color: #94DA94;
}

.icon-nodejs {
    color: #11770F;
}

.icon-git {
    color: #F34F29;
}

.icon-mongo {
    color: #407341;
}

.icon-react {
    color: #55B1D1;
}

.icon-sass {
    color: #C6538C;
}