body{
  overflow: auto;
}

body,
.wall {
    background-color: #1B1C1D;
}

.room {
    background-color: #CFD0D2;
}

.labirinth {
    text-align: center;
    margin: auto;
}

.labirinth .y-row {
    min-width: 750px;
    min-heigth: 750px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.labirinth .y-row .x-col {
    width: 25px;
    height: 25px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

i {
  text-shadow: 1px 1px 1px black;
  text-align:center;
  margin: 0 auto;
}
[class^='icon'] {
    font-size: 19px;
    padding: 3px;
    text-align: center;
    margin: 0 auto;
}

#hero {
    font-size: 15px!important;
    padding: 3px;
    margin-right: 3px;
}

.icon-bootstrap {
    color: #563D7C;
    font-size: 18px;
}

.icon-html5 {
    color: #E94F32;
    font-size: 22px;
}

.icon-css3-alt {
    color: #0074B5;
}

.icon-js {
    color: #E5A228;
}

.icon-jquery {
    color: #3693CB;
}

.icon-d3 {
    color: #f79357;
}

.icon-express {
    color: #94DA94;
}

.icon-nodejs {
    color: #11770F;
}

.icon-git {
    color: #F34F29;
}

.icon-mongo {
    color: #407341;
}

.icon-react {
    color: #55B1D1;
}

.icon-sass {
    color: #C6538C;
}